input,button,textarea{
    border: 0;
    outline: none;
}
textarea{
    resize: none;
}
body{
    background:#00334b;
    color: #fff;
}
*{
    box-sizing: border-box;
    transition: background .2s;
}
.fr{
    float: right;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.container h1{
    text-align: center;
}

.add-task input,.remind input,.desc textarea{
    display: block;
    width: 84%;
    background: #ddd;
    float: left;
    margin-right: 1%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
input:hover,input:focus{
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2 );
}
.add-task input,.remind input,.task-item{
    padding: 10px;
    border-radius: 3px;
}
.add-task button,.remind button{
    padding:10px;
    width: 15%;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    background: #56b1e4;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    color: #333;
}
.add-task button:hover,.remind button:hover{
    background: #5fb9e4;
}
.remind input{
    width: 100%;
    cursor: pointer;
}

.task-list{
    margin:10px 0;
}
.task-item{
    padding: 10px;
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    cursor: pointer;
    transition: background .2s;
}
.task-item:hover{
    background: #ddd;
}
.task-detail-mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30,30,30,.6);
    display: none;

}

.task-detail{
     position: absolute;
     bottom:0;
     right: 0;
     width: 50%;
     height: 100%;
     padding:10px;
     background: #fff;
     color: #333;
}
.task-detail .title{
    padding:10px;
    font-weight: 900;
    cursor: pointer;
}
.task-detail>*{
    margin-bottom: 10px;
    overflow: hidden;
}
.desc textarea{
    width: 100%;
    min-height: 100px;
}
.action{
    color: #888;
    font-size: 90%;
}
.action:hover{
    color: #333;
}

.task-content{
    margin-left: 10px;
}